@page
@model GardenSeedShop.Web.Pages.SeedsModel
@{
}
<h2 class="rounded text-center text-white p-2" style="background-color: #4B6F44;">List of Seeds</h2>

<div class="row">
    <div class="col-md-4">
        <div class="rounded text-white my-2 p-3 sticky-top" style="background-color: #4B6F44; top:10px;">
            <h4 class="mb-3">Advanced Search</h4>

            <form>
                <div class="mb-3">
                    <label class="form-label">Search</label>
                    <input type="text" class="form-control" asp-for="Search" placeholder="Search by Name">
                </div>

                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <select class="form-select" asp-for="PriceRange">
                        <option value="any">Any</option>
                        <option value="0_2">Under $2</option>
                        <option value="3-5">$3-$5</option>
                        <option value="above5">Above $5</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Type</label>
                    <select class="form-select" asp-for="Type">
                        <option value="any">Any</option>
                        <option value="herb">herb</option>
                        <option value="vegetable">vegetable</option>
                        <option value="flower">flower</option>
                        <option value="fruit">fruit</option>
                        <option value="grass">grass</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Sun Requirement</label>
                    <select class="form-select" asp-for="SunRequirement">
                        <option value="any">Any</option>
                        <option value="full">full</option>
                        <option value="partial">partial</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Season</label>
                    <select class="form-select" asp-for="Season">
                        <option value="any">Any</option>
                        <option value="full">warm</option>
                        <option value="partial">cold</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-outline-light">Search</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-outline-light" href="/Seeds" role="button">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table align-middle">
            <tbody>
                @foreach (var item in Model.listSeeds)
                {
                    <tr>
                        <td style="width:200px">
                            <img src="/images/seeds/@item.ImageFilename" class="img-fluid rounded" alt="..." />
                        </td>
                        <td>
                            <h3>@item.Name</h3>
                            <p>
                                Type: @item.Type<br>
                                Sun Requirement: @item.SunRequirement<br>
                                Season: @item.Season<br>
                                
                            </p>
                            <h4>$@(item.Price)</h4>
                            <a class="btn btn-primary btn-sm my-2" style="background-color: #4B6F44" href="/SeedDetails?id=@(item.Id)" role="button">Details</a>
                            <button type="button" class="btn btn-warning btn-sm my-2" onclick="addToCart(this, @item.Id)">
                                Add to Cart <i class="bi bi-cart4"></i>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= Model.totalPages; i++)
                {
                    <li class="page-item"><a class="page-link" href="?page=@(i)&Search=@(Model.Search)&Type=@(Model.Type)&SunRequirement=@(Model.SunRequirement)&Season=@(Model.Season)">@i</a></li>
                }

            </ul>
        </nav>
    </div>
</div>